@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #131313;
}

.fs-14 {
  font-size: 20px;
}

.font-mono {
  font-family: monospace;
}

.font-sans {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ml-md-5 {
  margin-left: 5rem;
}

.about-content {
  padding: 0 5rem 0 5rem;
}

@media screen and (max-width: 768px) {
  .ml-md-5 {
    margin-left: 0rem;
  }
  .about-content {
    padding: 0 0 0 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  background-color: #131313;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
  box-shadow: inset 0 0 5px #131313;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #12ffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #12ffff;
}

/* react-hamburger styles */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #6b6b6b;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #12ffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #2e2e2e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #2e2e2e;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.822);
}

.menu-item {
  text-decoration: none;
  color: white;
  font-family: monospace;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.menu-item:hover {
  color: #12ffff;
  transform: translateX(5%);
  transition: transform 0.3s ease;
}

.socialIcons:hover {
  color: #12ffff;
}

.avatar {
  height: 15vh;
}

.ball-clip-rotate-multiple > div {
  border-color: transparent #12ffff transparent #12ffff !important;
}

.ball-clip-rotate-multiple > div:last-child {
  border-color: #12ffff transparent #12ffff transparent !important;
}

.timeline {
  transform: scale(0.8);
}

.vertical-timeline::before {
  background: #12ffff !important;
}

.svg-inline--fa.fa-w-16 {
  width: 1.5rem !important;
}

.skills {
  line-height: 40px;
}
.skills > a {
  background-color: #2e2e2e;
  border-radius: 30px;
  margin: 10px 3px 10px 3px;
  font-family: monospace;
  padding: 5px 10px 5px 10px;
}

.skills > a:hover {
  transform: scale(1.5);
}
