@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #131313 !important;
  overflow-x: hidden;
}

.fs-14 {
  font-size: 20px;
}

.font-mono {
  font-family: monospace;
  cursor: default;
}

.font-sans {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
}

.ml-md-5 {
  margin-left: 5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}
.mr-1 {
  margin-right: 0.5rem;
}

.about-content {
  padding: 0 5rem 0 5rem;
}

.gif {
  height: 15vw;
  /* border: 1px solid white; */
  margin-bottom: 1.5rem;
}
.message-padding {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

@media screen and (max-width: 768px) {
  .about-content {
    padding: 0 0 0 0;
  }
  .ml-1 {
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .mr-1 {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .portfolio-row {
    display: flex;
    justify-content: center;
  }
  .message-padding {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}

@media screen and (max-width: 767px) {
  .gif {
    height: 35vw;
  }
  .ml-md-5 {
    margin-left: 0rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  background-color: #131313;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131313;
  box-shadow: inset 0 0 5px #131313;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #12ffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #12ffff;
}

/* react-hamburger styles */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #6b6b6b;
  transition: all 1s ease;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #12ffff;
  box-shadow: 0 0px 25px rgba(220, 220, 220, 0.721);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #2e2e2e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #2e2e2e;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.822);
}

.menu-item {
  text-decoration: none;
  color: white;
  font-family: monospace;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  transition: transform 0.5s ease;
}

.menu-item:hover {
  color: #12ffff;
  transform: translateX(5%);
}

.socialIcons:hover {
  color: #12ffff;
}

.avatar {
  height: 15vh;
}

.ball-clip-rotate-multiple > div {
  border-color: transparent #12ffff transparent #12ffff !important;
}

.ball-clip-rotate-multiple > div:last-child {
  border-color: #12ffff transparent #12ffff transparent !important;
}

.timeline {
  transform: scale(0.8);
}

.vertical-timeline::before {
  background: #12ffff !important;
}

.svg-inline--fa.fa-w-16 {
  width: 1.5rem !important;
}

.skills {
  line-height: 40px;
}
.skills > span {
  display: inline-block;
  color: #12ffff;
  line-height: 20px;
  background-color: #2e2e2e;
  border-radius: 30px;
  margin: 10px 3px 10px 3px;
  font-family: monospace;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: all 0.6s ease;
  cursor: default;
}

.skills > span:hover {
  background-color: #12ffff;
  color: white;
  box-shadow: 0 0px 20px #1effff78;
}

.portfolio-row {
  display: flex;
  justify-content: center;
}
.portfolio-item {
  border: 1px solid rgb(43, 43, 43);
  border-radius: 10px;
  padding: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 1s ease;
  height: 100%;
}

.portfolio-item:hover {
  background-color: #202020;
  /* transform: scale(1.1); */
}
.portfolio-title {
  font-weight: 500;
  transition: all 0.1s ease;
}

.portfolio-title:hover {
  transform: scale(1.05);
}

.btn-submit {
  background-color: #12ffff !important;
}

.github {
  color: rgb(255, 255, 255);
  background-color: rgb(84, 84, 84);
  border-radius: 30px;
  margin: 10px;
  font-family: monospace;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
}

.github:hover {
  background-color: white !important;
  color: black;
  box-shadow: 0 0px 25px rgba(220, 220, 220, 0.522);
}
.external-link {
  color: black;
  background-color: #ffff00;
  border-radius: 30px;
  margin: 10px;
  font-family: monospace;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
.course-date {
  color: rgb(255, 255, 255);
  background-color: #3d3d3d;
  border-radius: 30px;
  margin: 10px;
  font-family: monospace;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.github:hover {
  box-shadow: 0 0px 25px rgba(220, 220, 220, 0.522);
}

.external-link:hover {
  background-color: white !important;
  color: black;
  box-shadow: 0 0px 25px rgba(220, 220, 220, 0.574);
}

/* loader */
.loader {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #12ffff #12ffff transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 5px;
  transform: perspective(200px) rotateX(66deg);
  animation: disappearK 0.9s cubic-bezier(0.53, 0.14, 1, 1) 1.8s !important;
  animation-iteration-count: 1 !important;
}

.loader2::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid;
  border-color: transparent transparent #ffff00 #ffff00;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 2.5s linear infinite;
  transform-origin: center center;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid;
  border-color: transparent transparent #8cff00 #8cff00;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 60px;
  height: 60px;
  border: 5px solid;
  border-color: #ff13aa #ff13aa transparent transparent;
  animation: rotation 2s linear infinite;
}

.bounce {
  animation: bounceback 2.8s ease;
}

@keyframes bounceback {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  50% {
    opacity: 1;
    transform: translateY(10%);
  }
  100% {
    opacity: 0;
    transform: translateY(30%);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes disappearK {
  0% {
    transform: perspective(200px) rotateX(66deg) scale(1);
  }
  100% {
    transform: perspective(200px) rotateX(90deg) scale(5);
  }
}

.diskloader {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #12ffff #12ffff transparent transparent;
  box-sizing: border-box;
  animation: rotation 6s linear infinite;
}
.diskloader::after,
.diskloader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid;
  border-color: transparent transparent #8cff00 #8cff00;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 5s linear infinite;
  transform-origin: center center;
}
.diskloader::before {
  width: 60px;
  height: 60px;
  border: 5px solid;
  border-color: #ff13aa #ff13aa transparent transparent;
  animation: rotation 5s linear infinite;
}

.disk {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 5px;
}

.disk::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 2px solid;
  border-color: transparent transparent #ffff00 #ffff00;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 5s linear infinite;
  transform-origin: center center;
}
